/*
Julianna Lawrence
February 20th, 2025
styles.css
*/

/*CCS reset style rule*/
body, header, nav, main, footer, img, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0
}

/*Style rules for body and images*/
body {
    background-color: #f6eee4
}

img {
    max-width: 100%;
    display: block;
}

/*Styles for header content*/
header{
    text-align: left;
    font-size: 2em;
    font-style: oblique;
    color: #6c4bc0;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em
}

header h1 {
    font-style: italic
}
/*Style rules for navigation area*/
nav {
    background-color: #6c4bc0
}

nav ul {
    list-style: none;
    margin: 0;
    text-align: center
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold
}

nav li a {
    display: block;
    color: #f6eee4;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none
}

/*Styles to main content*/

main {
    padding: 2%;
    font-family: Verdana, Ariel, sans-serif
}

main p {
    font-size: 1.25
}

main h3 {
    padding-top: 2%
}

main ul {
    list-style: square
}

.link {
    color: #e7414f;
    text-decoration: none;
    font-weight: bold;
    font-style: italic
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center
}

#contact {
    text-align: center
}

/*Style rules for footer*/

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #6c4bc0;
    color: f6eee4;
    padding: 1% 0%
}

footer a {
    color: #f3e6d8;
    text-decoration: none
}